APIConnect==2.0.8
breeze_connect==1.0.60
certifi==2025.1.31
dhanhq
#growwapi
flask==3.1.0
fyers_apiv3==3.1.7
kiteconnect==5.0.1
logzero==1.7.0
pandas>=2.3.3
pandas_ta==0.4.71b0
protobuf==5.29.3
pya3==1.0.29
pyotp==2.9.0
PyYAML==6.0.2
requests==2.31.0
smartapi-python==1.5.4
ta==0.11.0
Twisted==24.11.0
upstox-python-sdk==2.11.0
urllib3==2.3.0
websocket-client
websockets==14.2
whl==0.0.4
xlwings==0.33.6
fastapi
uvicorn
python-dotenv
pytz
psycopg2-binary